*{
	color:white
}

.primary-navigation a{
	font-size:27px;
	font-weight:bold;
}

.primary-navigation a:link{
	color:white;
}

.primary-navigation a:active{
	color:white;
}

.primary-navigation a:visited{
	color:white;
}

.primary-navigation a:hover{
	color:lightgray;
}

.sub-menu a:link{
	color:black
}

.sub-menu a:active{
	color:black
}

.sub-menu a:visited{
	color:black
}

.wp-block-details summary {
    font-size:24px
}

.site-main{
	padding-top:0;
	padding-bottom:0
}

h1.page-title  .entry-title {
    font-size: 72px;
	text-align:center
}

h1.wp-block-heading.has-text-align-left{
	font-size:78px;
	text-align:center;
	padding-bottom:30px
}

h1.wp-block-heading{
	font-size:78px;
}

.page-title{
	color:black
}
p, li, .wp-block-heading, summary{
	text-shadow: 0.7px 0.5px grey;
/* 	font-size:27px; */
/* 	color:green */
}

#primary #main #post-8 h2{
	font-size:52px;
	margin-bottom:65px;
	font-weight:bold;
/* 	color:green; */
}

.sub-menu a{
	text-shadow:none
}

.custom-post{
	background-color:rgba(255,255,255,0.4);
	width:800px;
	margin:auto;
	padding:30px;
	margin-top:30px;
	border-radius:10px;
}

.custom-post-title{
	color:black;
	font-size:31px;
	text-align:center;
	margin-bottom:15px;
	font-weight:bold;
}

.custom-post-thumbnail{
	width: 500px;
	border-radius:10px;
	margin:auto;
}

.custom-post-excerpt{
	color:black;
	margin-top:10px;
	font-size:21px
}

.custom-post-excerpt p{
	color:black;
}

.custom-post-excerpt a{
	font-weight: bold;
}

.custom-post-excerpt a:link{
	color:white
}

.custom-post-excerpt a:active{
	color:white
}

.custom-post-excerpt a:visited{
	color:white
}

.custom-post-excerpt a:hover{
	color:red;
}
